/*
Styles written by Samuel Kent for the light pattern designer website.
Started on Sunday 22nd December 2019.
Not completed.
*/

/*
======================
===== Mobile CSS =====
======================
*/

/*===== Site body =====*/

body {
    margin: 0px 0px 0px 0px;
    font-family: "Ubuntu", sans-serif;
}

/*===== Headder bar =====*/
header{
    background-color: black;
    margin: 0px;
    padding: 10px;
    font-size: 2em;
    color: white;
}

/*===== Footer =====*/
footer{
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    color: white;
}

footer .footerButton{
    border: 2px solid black;
}

footer .footerButton:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

footer p{
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0px;
    padding: 10px;
}

/*
======================
===== Tablet CSS =====
======================
*/

@media only screen and (min-width: 400px){

}

/*
=======================
===== Desktop CSS =====
=======================
*/

@media only screen and (min-width: 1400px){

}